.header {
  position: fixed;
  width: 100%;
  background-color: var(--gray-2);
}

.header__wrapper {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.header__wrapper a {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: var(--black-1);
}

.header__wrapper a:hover {
  color: var(--gray-1);
  text-decoration: underline;
}
