.products {
  height: fill-available;
}

.products__wrapper {
  height: inherit;
  padding: 5rem;
  display: flex;
  flex-direction: column;
}

.products-header {
  display: flex;
}

.products__list {
  margin-bottom: 2rem;
  flex-grow: 1;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.products-pagination {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.products-pagination > li {
  box-sizing: border-box;
  border-radius: 40%;
  line-height: 50%;
  background-color: var(--gray-2);
  cursor: pointer;
}

.products-pagination > li.selected {
  border: 1px solid var(--gray-1);
}

.products-pagination > li a {
  padding: 0.5rem;
  display: inline-block;
}
